.contact {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  margin-bottom: 100px;
}

.whatsapp {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #25d366;
	color: $white;
	border-radius: 50px;
	text-align: center;
  font-size: 30px;
	box-shadow: 2px 2px 3px #999;
  z-index: 100;

  .icon {
    margin-top:16px;
  }

  &:hover {
    color: $black;
  }
}
